doctype html
html(lang='en' ng-app='app')
  head
    meta(charset='UTF-8')
    title(ng-bind='"SWDB - " + $root.title') SWDB (Prototype Interface)

    link(rel='icon', href=basePath + '/favicon.ico?v=1')

    script(type='text/javascript') var basePath = '#{basePath}';
    //- script(type='text/javascript') var basePath = window.location.pathname;

    script(src=basePath + '/node_modules/es6-promise/dist/es6-promise.auto.min.js')
    script(src=basePath + '/node_modules/jquery/dist/jquery.min.js')
    script(src=basePath + '/node_modules/datatables.net/js/jquery.dataTables.js')
    script(src=basePath + '/node_modules/angular/angular.js')
    script(src=basePath + '/node_modules/angular-animate/angular-animate.js')
    script(src=basePath + '/node_modules/angular-sanitize/angular-sanitize.js')
    script(src=basePath + '/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')

    script(src=basePath + '/node_modules/angular-route/angular-route.min.js')
    script(src=basePath + '/node_modules/angular-datatables/dist/angular-datatables.min.js')
    script(src=basePath + '/node_modules/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js')
    script(src=basePath + '/node_modules/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.min.js')
    script(src=basePath + '/node_modules/angular-messages/angular-messages.min.js')
    script(src=basePath + '/node_modules/angular-cookies/angular-cookies.min.js')
    script(src=basePath + '/node_modules/ui-select/dist/select.js')

    script(src=basePath + '/js/app.js')
    script(src=basePath + '/js/ctlr-swdb.js')
    script(src=basePath + '/js/ctlr-swdb-details.js')
    script(src=basePath + '/js/ctlr-swdb-update.js')
    script(src=basePath + '/js/ctlr-swdb-new.js')
    script(src=basePath + '/js/ctlr-inst.js')
    script(src=basePath + '/js/ctlr-inst-details.js')
    script(src=basePath + '/js/ctlr-inst-update.js')
    script(src=basePath + '/js/ctlr-inst-new.js')

    link(rel='stylesheet' href=basePath + '/node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href=basePath + '/node_modules/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href=basePath + '/node_modules/datatables.net-bs/css/dataTables.bootstrap.css')
    link(rel='stylesheet' href=basePath + '/node_modules/angular-datatables/dist/css/angular-datatables.min.css')
    link(rel='stylesheet' href=basePath + '/node_modules/ui-select/dist/select.css')

    link(rel='stylesheet' href=basePath + '/css/style.css')

  body
    //- <div class="header swdb-top-div container-fluid">
    .main.swdb-top-div.swdb-bottom-div(ng-view)
